<h1>Job Searcher Indeed </h1>

### To Implement
- Loop to go throw all the pages avaliable
- Filter Items
- Searcher for diferent jobs
- Searcher for diferent locations
- Machine learning program to select jobs

In [2]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
def extract_the(page=0):
    headers={"user_Agents":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"}
    url=f'https://uk.indeed.com/jobs?q=data+analyst&start={page}' # the page is as a placeholder to can go throw pages more in advance
    r=requests.get(url,headers)
    soup= BeautifulSoup(r.content,"html.parser")
    return soup

In [4]:
def transform(soup):

    jobs=soup.find_all("div",class_="job_seen_beacon") # the list that it gives us back is each of the jobs
    for job in jobs: # we go throw the list finding what we need and adding all of this to a dictionary
        djobs={
        "title"      :  job.find("a").text.strip(),
        "company"    :job.find("span",class_="companyName").text.strip(),
        "link"       :   "https://uk.indeed.com/viewjob?jk="+ job.find("a").attrs["data-jk"],
        "description":job.find("div",class_="job-snippet").text.strip().replace("\n",""),
        "status"     :job.find("span",class_="date").text.strip()
        }
        try: # some of them do not have salary so to try evade errors we do a try and except
            djobs["salary"]=job.find("div",class_="metadata salary-snippet-container").text.strip()
        except:
            djobs["salary"]="Not Declared"
        joblist.append(djobs)
    return 
joblist=[]  #we leave the list outside of the function so it can store all the info and its not getting reset everytime we 
            #call the function transform

In [5]:
for pages in range(0,10): # run throw the first 10 pages
    info=extract_the(pages)
    transform(info)

In [6]:
df=pd.DataFrame(joblist) #creating a dataframe

In [7]:
df.head() # showing a little bit

,title,company,link,description,status,salary
0,Senior Data Analyst,Davies Group,https://uk.indeed.com/viewjob?jk=3c9a274038246231,Working in a data analysis/insight role with e...,Posted4 days ago,"£45,000 - £60,000 a year"
1,Data Analyst,Takkt (UK),https://uk.indeed.com/viewjob?jk=d9953c1aa9da1f9c,Translate data into a readable format via dash...,EmployerActive 18 days ago,"£30,000 - £35,000 a year"
2,Data Analyst,Tata Consultancy Services (TCS),https://uk.indeed.com/viewjob?jk=54b4be7372d6a284,"Familiarity with data modelling, data mapping,...",Posted12 days ago,Not Declared
3,Data Analyst,Affinity Water,https://uk.indeed.com/viewjob?jk=bb4c1193c6fdb5d4,"Using your excellent analytical skills, you’ll...",Posted3 days ago,Not Declared
4,Data Analyst (Coach),Takkt (UK),https://uk.indeed.com/viewjob?jk=485bcfb16bd3c33a,Translate data into a readable format via dash...,EmployerActive 18 days ago,"£30,000 - £35,000 a year"