In [61]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [62]:
def extract_the(page=0):
    headers={"user_Agents":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/103.0.0.0 Safari/537.36"}
    url=f'https://uk.indeed.com/jobs?q=data+analyst&start={page}'
    r=requests.get(url,headers)
    soup= BeautifulSoup(r.content,"html.parser")
    return soup

In [72]:
def transform(soup):

    jobs=soup.find_all("div",class_="job_seen_beacon")
    for job in jobs:
        djobs={
        "title"      :  job.find("a").text.strip(),
        "company"    :job.find("span",class_="companyName").text.strip(),
        "link"       :   "https://uk.indeed.com/viewjob?jk="+ job.find("a").attrs["data-jk"],
        "description":job.find("div",class_="job-snippet").text.strip().replace("\n",""),
        "status"     :job.find("span",class_="date").text.strip()
        }
        try:
            djobs["salary"]=job.find("div",class_="metadata salary-snippet-container").text.strip()
        except:
            djobs["salary"]="Not Declared"
        joblist.append(djobs)
    return 
joblist=[]

In [73]:
for pages in range(0,10):
    info=extract_the(pages)
    transform(info)

In [74]:
df=pd.DataFrame(joblist)

In [75]:
df

,title,company,link,description,status,salary
0,Data Analyst,Takkt (UK),https://uk.indeed.com/viewjob?jk=d9953c1aa9da1f9c,Translate data into a readable format via dash...,EmployerActive 18 days ago,"£30,000 - £35,000 a year"
1,People Data Analyst,UK Health Security Agency,https://uk.indeed.com/viewjob?jk=05b92fedfbe5c80e,Bringing together multiple data sources (inclu...,Posted1 day ago,"£28,588 - £39,691 a year"
2,Data Analyst (Coach),Takkt (UK),https://uk.indeed.com/viewjob?jk=485bcfb16bd3c33a,Translate data into a readable format via dash...,EmployerActive 18 days ago,"£30,000 - £35,000 a year"
3,Data Analyst - Performance,Housing Ombudsman Service,https://uk.indeed.com/viewjob?jk=b8d9c0e71021922f,Contribute to improving data management and th...,Posted3 days ago,"£36,588 a year"
4,DE&S Data Analyst,Ministry of Defence,https://uk.indeed.com/viewjob?jk=46fd16aca51a1f5e,Extensively use intellectual curiosity to expl...,PostedJust posted,"£32,500 - £35,000 a year"
...,...,...,...,...,...,...
145,Data Analyst -National Youth Agency,WorkNest Clients,https://uk.indeed.com/viewjob?jk=09d86ae6729807a4,Experience of the development and use of quant...,Posted11 days ago,"£29,960 - £39,590 a year"
146,Junior Economic Research Analyst,International Union of Credit and Investment...,https://uk.indeed.com/viewjob?jk=e8b1f177fc2ef0cb,We use this in combination with qualitative re...,Posted11 days ago,"£26,000 - £40,000 a year"
147,Junior Analyst: Analytics & Data Science,Essex County Council,https://uk.indeed.com/viewjob?jk=3e15a3546be2e29b,The role requires the ability to demonstrate t...,Posted11 days ago,"Up to £28,499 a year"
148,CDD Data Analyst,NatWest Group,https://uk.indeed.com/viewjob?jk=4d7cf687744aa3d1,"Knowledge of data engineering, data science an...",Posted21 days ago,Not Declared
149,Data Analyst,Elite Staffing Solutions,https://uk.indeed.com/viewjob?jk=fdf80520d91ad59b,Project management and proficient planning ski...,Posted30+ days ago,"Up to £35,000 a year"